<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.service.MybatisTestMapper">
    <select id="query" resultType="com.cheng.model.User">
        select id,user_name  from user;
    </select>
</mapper>